*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    color: white;
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.produtos{
    color: white;
}

a{
    color: orange;
    display: inline-block;
    margin: 150px;
}